<html>
  <head>
    <title>Steves Youtube Downloader</title>
    <link rel="icon" type="image/x-icon" href="public/images/you.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="public/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="s003">
        <form action="/video" method="GET">
            <center style="font-weight:bold; font-family: monospace ; color : rgb(0, 70, 128)"><h1>Click on the button below to download   &rarr; {{contentTitle}}</h1></center>
            <br>
            <br>
            <center><button class="button-68" type="submit">DOWNLOAD</button></center>
        </form>
    </div>

<center>
      <footer style="font-weight:bold; font-family:  Helvetica, Arial, sans-serif ; color : white">
        <div>

          <div>
            <p>
              &copy; <span id="displayYear"></span> All Rights Reserved  :
              <a href="https://steves-portfolio-x.herokuapp.com/">Stephen Ignatius</a>
            </p>
            <ul>
                  <a href="https://twitter.com/REALSTEPHENIG">Twitter ||</a>
                  <a href="https://www.linkedin.com/in/stephen-ignatius-a5422022b/">LinkedIn ||</a>
                  <a href="mailto:stephenignatiusbiz@gmail.com">Email ||</a>
                  <a href="https://github.com/REALSTEVEIG">Github</a>
            </ul>
            <br>
            <br>
          </div>
        </div>
      </footer>
    </center>
  </body>
</html>
